.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 0 5rem;
  background-color: var(--red);
  background-image: url(./images/bg-intro-desktop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text,
.user {
  flex: 1;
  max-width: 34.75rem;
}

.text {
  color: white;
}

.text h1 {
  font-size: 44px;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user__trial {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--blue);
  border-radius: 1rem;
  padding: 1rem 0;
  font-size: 16px;
}

.user__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: white;
}

.user__form input {
  font-family: inherit;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.25);
  padding: 1rem;
  font-weight: 700;
}

.user__form input:focus {
  border: 1px solid var(--grayish-blue);
}

.user__form--error {
  position: relative;
  text-align: end;
  color: var(--red);
  font-size: 12px;
}

.user__form--errorIcon {
  position: absolute;
  right: 1rem;
  top: -3.5rem;
}

.user__form--button {
  border: none;
  font-family: inherit;
  background-color: var(--green);
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}

.user__form--button:hover {
  cursor: pointer;
}

.user__form--button:active {
  cursor: pointer;
  opacity: 50%;
}

.user__form--terms {
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 12px;
}

.user__form--terms a {
  margin-left: 4px;
  color: var(--red);
}

.user__form--terms a:hover {
  cursor: pointer;
}

.user__form--terms a:active {
  cursor: pointer;
  opacity: 50%;
}
